.question {
  font-size: 30px;
  text-align: center;
  padding: 15px;
  color: rgb(61, 65, 61);
}

.answers {
  color: rgb(62, 94, 62);
  text-align: center;
  padding: 25px;
  font-size: 25px;
}


.head {
  color: rgb(81, 207, 81);
  text-align: center;
  padding-top: 20px;
  font-size: 35px;
  font-style: italic;
}

.head2 {
  color: rgb(65, 80, 38);
  text-align: center;
  padding-bottom: 20px;
  font-size: 30 npx;
  font-style: italic;
}

.title {
  font-size: 20px;
  font-weight: bolder;
  color: black;
  border: solid;
  border-color: rgb(61, 114, 61);
  border-width: 2px;
  text-align: center;
}

#submit{
  background-color:green;
  border: 300px 300px;
  color: white;
  padding: 25px 45px;
  text-align: center;
  text-decoration: none;
  display: center;
  font-size: 16px;
  border-radius: 12px;
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

#submit:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  text-decoration: none;  
}
.afterSubmit{
  position: relative;
  top: 50%;
  /* width: 100%; */
  text-align: center;
  font-size: 18px;
}